# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Using Markdown and Code cells in Jupyter notebook
- List popular languages for Data Science
- List few Data Science tools
- Evaluation of arithmetic expressions

## Author
Nazrulhasan Alam

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. Keras
4. Seaborn

|Data Science Tools|
|---|
|Jupyter Notebook|
|RStudio|
|Visual Studio Code|
|Apache Zeppelin|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
min_to_hours = 200/60
print(min_to_hours)

3.3333333333333335